<section class="sponsors">
<div class="container">
{% if page.header.sponsors %}

                 <section class="customer-logos slider">
                     <h2>Sponsors</h2>
                     <span class="line"></span>
                    <div class="sponsors imgs"> {% for sponsor in page.header.sponsors %}
                                <a href="{% if sponsor.link %} {{ sponsor.link }}
                                        {% endif %}">
                                    <img src="{{page.media.images[sponsor.icon].cache.url()}}">
                                </a>

                    {% endfor %}
                    </div>
                 </section>

{% endif %}
</div>
</section>



