header, .header {

    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.85);
}

body{
    background: #212121;
}



.nav-collapse, .nav-collapse ul {

    margin-top: 10px;
}

header.sticky {
    opacity: 1;
    background: #FFFFFF;
    border-bottom: solid 6px #cf172b;
}


.nav-collapse a:active, .nav-collapse .active a {
    color: #cf172b;
}

nav ul li a:hover {
    text-decoration: none;
    color: #cf172b;
}

.se-pre-con {
    background: #cf172b;
}

span.line {
    background: #cf172b;
    margin-top: -30px;
}

 nav ul li a {
    color: #333333;
}

#section-1 .banner h1 {
    color: #333333;
}

#g-recaptcha {
    width: 304px;
    margin: 0 auto;
}

textarea {
    width: 50%;
    height: 200px;
}

textarea[placeholder] {
    padding: 10px 15px;
}

input {
    width: 100%;
}

input[placeholder] {
    padding-left: 10px;
}

input:focus, textarea:focus {
    border-color: cadetblue;
    box-shadow: 0 8px 6px -6px #ccc;
    transition: 0.2s;
}

input, textarea {
    border: 1px solid #a5a5a5;
    border-radius: 3px;
}

.user-name, .user-email {
    width: 292px;
    display: inline-block;
}
.nav-toggle:before{
    color: #000000;

}
.nav-toggle.active:before{

    color: #000000;
}

.nav-collapse ul {
    margin-top:5px
}


/*Form registration*/

.forms-section
{
    color: white;
    padding: 200px 10px 100px 10px ;
    background: #212121;
}

.forms-section .button{
    background: #cf172b;
}
#registration{
    width: 65%;
}

#registration {
    color: #ffffff;

}
#registration .form-group{

}

.forms-section input:focus, textarea:focus {
    border: 1px solid #cf172b;
    box-shadow: 3px 4px 10px 5px #ccc;
    transition: 0.3s;
}

.forms-section input, textarea {
    border: 1px solid #a5a5a5;
    border-radius: 3px;
}
input[type="text"], input[type="email"], input[type="date"], textarea {
    padding-left: 10px ;
    color: black;

}


.forms-section textarea {
    height: 100px;
    width:  80%;

}


/*cat1*/
.joinnow {

    background: #212121;
}

.joinnow a{
    text-decoration: none;
    color: #cf172b;
}

/*error page*/

.error{
    background: #2b2b2b;
}

/*features*/
.features {
    background: white;

}

.features h3 {
    color: #cf172b;


}

/*Service*/

.services {
    background: white;
}

.services h3 {

    color: #cf172b;
}

/*Contact modular*/

.contact {
    background: #CCCCCC;
}

/*Price*/

.price .price-container p {
    padding: 5px 5px 5px 10px;
}

.price .price-container a {
    background: #cf172b;
    text-decoration: none;

}

.price .price-container:hover .black{
    background: #cf172b;

}

/*Contact and map*/
.map{
    color: #cacaca;
    padding: 30px;
    background: #212121;
}

.map a{
    font-weight: bold;
    color: #c22B2E;
}

.map .widget .widget-title{
    font-family: 'DINPro-Black', Arial, sans-serif;
    color: #ffffff;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 25px;

}

.map .widget{
    margin-bottom: 35px;

}
/*Sponsors */
.sponsors {
    background: white;
    padding-bottom: 30px ;
}

.sponsors h2{
    text-align:center;
    padding-top: 20px;
}
.sponsors .imgs{
    text-align: center;

}

.sponsors img{
    height: 150px;
    vertical-align: middle;
    max-width: 200px;
    margin: 5px;
}

/*social icons*/
.team {
    padding-bottom: 70px;
    background: #2b2b2b;
}



.social {
    margin: 0 20px 0 20px ;

}

.fa {

}

.fa:hover{
    opacity: 0.7;

}

.social a {
    border-radius: 300px;
    border: 2px solid #cf172b;
    padding: 6px;
    width: 50px;
    height: 50px;
    line-height: 30px;
    text-align: center;
    display: inline-block;
    color: #ffffff;
    text-decoration: none;
}





/*Person review*/



.carousel-inner .carousel-item .img-box{
    width: 135px;
    height: 135px;
}
.carousel-control-prev{
    left: -100px;
}
.carousel-control-next{
    right: -100px;
}
.carousel-indicators{
    position: relative;
    margin-top: 40px;
}
@media (min-width: 320px) and (max-width: 640px) {
    .carousel-inner .carousel-item p{
        font-size: 14px;
    }
    .carousel-control-prev{
        left: -40px;
    }
    .carousel-control-next{
        right: -40px;
    }

}



@media only screen and (max-width: 766px) {
    .backcolor {
        background: rgb(255, 255, 255);
        background: rgba(255, 255, 255, 0.85);
    }

    .logo img{
        width: 160px;
    }



}

@media only screen and (min-width: 767px) and (max-width: 991px) {

    .js .nav-collapse.closed{
    }
    .logo {
    }

    .logo img{
    }
}





